<?xml version="1.0"?>
<launch>

	<node pkg="rostopic" type="rostopic" name="pan_pub_init" args="pub /husky/joint_pan_position_controller/command std_msgs/Float64 'data: 0.0' -1"/>
	<node pkg="rostopic" type="rostopic" name="tilt_pub_init" args="pub /husky/joint_tilt_position_controller/command std_msgs/Float64 'data: 1.57' -1"/>

</launch>