<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="mav_name" default="baroness" />
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mav_exploration)/worlds/mtp.world" />
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
  </include>

</launch>